.info{

    font-family:'Rowdies', cursive;
text-align: center;
margin: 10px;
color: darkmagenta;

}

body{
    background-color: darksalmon;
    
}


#gid{
    font-family:'Rowdies', cursive;
    text-align: center;
    color: blue;
    margin: 10px;
  

}

#border{
    font-family: 'Pacifico', cursive;;
    border-style: solid;
    background: rgb(8, 31, 97);
    float: center;
    border: 2px solid black;
    border-radius:20px;
    width:450px;
    height: 250px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  
}


#pbrder{
    text-align: center;
    

    
}
