* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: white;
  background-color: blue;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  /* border: 1px solid white; */
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  justify-content: space-between;
}
.login {
  margin-left: 10px;
}
.header-container {
    color: black;
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
  }
.logo {

  /* text-align: center; */
  width: 10px;
height: 5px;
flex-wrap: wrap;
justify-content: end;
}
.icons {
   display: flex;
  justify-content: space-between
  justify-items:left
  width: 10px;
  height: 5px;

}
.image-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .image-grid {
    width: 900px;
    display: flex;
    justify-content: center;
  }
  
  .image-grid-item {
    width: 235px;
    height: 250px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid white;
    background-color: lightblue;
    height: 200px;
    flex: 1;
  }
  .footer-one,
.footer-three {
  background-color: lightgrey;
  flex: initial;
  width: 300px;
}
