body{
    background-color: rgb(179, 196
    , 190);
  font-family:'Oswald', sans-serif;
}
header{
   
    

}
ul{
    background-color: rgba(138, 111, 111, 0.295);
    width: 100px;
    padding: 0px;
 text-align: center;
  
}
section{
text-align: center;
border-color: rgb(7, 53, 53);
border-style:solid
}
aside{
    color: darkmagenta;
    text-align: center;
}
div{
    color: darkred;
    font-size: 40px;
  border-style: groove;
 background-color: black;
}
p{
font-family: 'Gideon Roman', cursi;

}


footer{
font-family: 'Comforter', cursive;;
text-align: center;
font-size: xx-large;
color: rgb(97, 172, 0);

}
h4{
font-family: 'Quintessential', cursive;;
font-size: large;
color: darkred;
}
nav{
text-align: center;


}
h1{



}