
}
body{
    margin: 0px;
}
header{
    align-items: center;
    display: flex;
    justify-content:space-between ; /* to give space and organize the position*/
}

#logo{
    font-size: medium;
}
#logo img{
    max-width: 50px;
}
#menu ul{
padding: 0;
margin: 20px;
display: flex;
list-style:none;

}
#menu ul li{
    padding: 5px;
    
}
#social-links img{
   max-width: 50px;

}